streamlit==1.32.0
openai==1.12.0
pandas==2.2.0
matplotlib
numpy==1.26.3
speechrecognition
pydub
audio-recorder-streamlit
faster-whisper @ git+https://github.com/guillaumekln/faster-whisper.git
python-dotenv==1.0.0
streamlit-authenticator==0.3.2
google-cloud-texttospeech
google-auth
Pillow
firebase-admin
